extends layout
include mixins/gettelTable

block content
  if formInfo.length > 0 
    .row.justify-content-center.mb-5 
      .col-12.col-md-4.text-center
        h3 #{selectedDate.month} #{selectedDate.year}
    .row.g-3.justify-content-between
      .col-12.col-md-4.btn-col
        button.btn.btn-success#export-btn Export CSV
      .col-12.col-md-4.btn-col.d-flex.justify-content-start.justify-content-md-end
        small.fw-bold#note *Note: You must be logged into Jotforms to view photo links
      .col-12 
        .table-responsive
          table.table 
            each val in formInfo   
              +gettelTable(val)
  else 
    h3.fw-light.text-center.font-weight-light Nothing to report for #{selectedDate.month} #{selectedDate.year}

  //- //- pre 
  //- //-   code 
  //-     p= JSON.stringify(formInfo, null, 2)