extends layout
include mixins/gettelTable

block content
  .row.g-3
    .col-12 
      .table-responsive
        table.table  
          if formInfo.length > 0  
            each val in formInfo   
              +gettelTable(val)
          else 
            h3.fw-light.text-center.font-weight-light No submissions for #{selectedDate.month} #{selectedDate.year}