body {
	/* padding: 15px; */
	padding-top: 50px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

table {
	-webkit-transition: all 800ms ease-in-out 300ms;
	-o-transition: all 800ms ease-in-out 300ms;
	transition: all 800ms ease-in-out 300ms;
	opacity: 0;
}

.btn-col {
	overflow: hidden;
}

#export-btn {
	-webkit-transition: all 600ms ease-out 1000ms;
	-o-transition: all 600ms ease-out 1000ms;
	transition: all 600ms ease-out 1000ms;
	-webkit-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
}

#note {
	-webkit-transition: all 800ms ease-in-out 300ms;
	-o-transition: all 800ms ease-in-out 300ms;
	transition: all 800ms ease-in-out 300ms;
	opacity: 0;
	font-size: 12px;
}

a {
	color: #00b7ff;
}

.card-min-height {
	min-height: 140px;
}

#getSubs {
	width: 10em;
}

/* .table{
  display: block !important;
  overflow-x: auto !important;
  width: 100% !important;
} */

th,
td {
	white-space: nowrap;
	padding-right: 40px !important;
	/* vertical-align: middle; */
}

td {
	padding-top: 10px !important;
	/* vertical-align: middle; */
}

tr {
	height: 56px;
}

.descCell {
	min-width: 350px;
}

.redPill {
	background-color: #dc3545;
	color: white;
	padding: 4px 15px;
	border-radius: 2em;
}

.bluePill {
	background-color: #0d6efd;
	color: white;
	padding: 4px 15px;
	border-radius: 2em;
}

.subUrl {
	display: block;
	margin-top: 10px;
}