mixin formCard(form)
  .col-12.col-md-6.col-lg-4
    .card.shadow-sm.bg-body.rounded-3.card-min-height
      .card-body.d-flex.flex-column.justify-content-center.px-4
        div
          h5.card-title= form.title
          - let date = new Date(form.last_submission).toLocaleDateString()
          p Last Submission: #{date}
        div
          a(href=form.url).btn.btn-outline-primary View Form
  