mixin gettelTable(data)
  //- h1 test
  //- pre 
  //-   code
  //-     p= JSON.stringify(data, null, 2)
  
  if data[0].what
    thead 
        tr 
          th(scope="col")= data[0].text
  else if !data[0].what
  
  //- each val, index in data
  //-   if val.what
  //-     thead 
  //-       tr 
  //-         th(scope="col")= val.text
  //-   else if !val.what
  //-     thead 
  //-       tr 
  //-         th= val.text
    //- tbody 
    //-   tr 
    //-     td= val.answer
      
       
          

      

  